<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>waydplace</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Frontal</display-name>
    <servlet-name>Frontal</servlet-name>
    <servlet-class>servlet.membre.Frontal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Frontal</servlet-name>
    <url-pattern>/Frontal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionMembre</display-name>
    <servlet-name>ConnexionMembre</servlet-name>
    <servlet-class>servlet.membre.ConnexionMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionMembre</servlet-name>
    <url-pattern>/ConnexionMembre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontalGestionnaire</display-name>
    <servlet-name>FrontalGestionnaire</servlet-name>
    <servlet-class>servlet.membre.FrontalGestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontalGestionnaire</servlet-name>
    <url-pattern>/FrontalGestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationCompte</display-name>
    <servlet-name>CreationCompte</servlet-name>
    <servlet-class>servlet.membre.CreationCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationCompte</servlet-name>
    <url-pattern>/CreationCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontalCommun</display-name>
    <servlet-name>FrontalCommun</servlet-name>
    <servlet-class>servlet.membre.FrontalCommun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontalCommun</servlet-name>
    <url-pattern>/FrontalCommun</url-pattern>
  </servlet-mapping>
	
<filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>requestEncoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    
</filter>
<filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping>
  
</web-app>