<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{dd/MM/yy HH:mm:ss} [%t] [%-5p] %c{1} - %m%n" />
    </layout>
  </appender>

  <appender name="util" class="org.apache.log4j.FileAppender">
    <param name="file" value="wayd/logs/debug.html" />
    <param name="append" value="false" />
    <layout class="org.apache.log4j.HTMLLayout" />
  </appender>

    <appender name="jdbcAppender" class="org.apache.log4j.jdbc.JDBCAppender"> 
        <param name="URL" value="jdbc:postgresql:waydplace" /> 
        <param name="Driver" value="org.postgresql.Driver" /> 
        <param name="User" value="postgres" /> 
        <param name="Password" value="6HamPol20N6HamPol20N" /> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" 
              value="INSERT INTO log4j (log_date, log_level, log_location, log_message,duree) VALUES ( '%d{yyyy-MM-dd HH:mm:ss}','%p', '%C;%L', '%m',-1)" 
            /> 
        </layout> 
    </appender> 

  <root>
  
   	 <level value="INFO" />
  	 <appender-ref ref="stdout" />
     <appender-ref ref="jdbcAppender" />
       
  </root>
  
  

</log4j:configuration>