.panel-default>.panel-heading {
	color: #333;
	background-color: #ffbf00;
	border-color: #FFF;
	font-weight: bold;
	color: white;
	font-family: Arial;
}

.marge-droite {
  margin-right: 10px; 
}



.jumbotron-style{
	
	background-color: #ffeecc ;
	border: 5px solid #fff;
	
	margin: 5px;padding:20px;
	
}

.table-responsive>.table>tbody>tr>td {
	vertical-align: middle;
}

.dropdown-toggle:active,.open .dropdown-toggle {
	background: #e6ac00 !important;
	color: #000 !important;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
   
}


/*Couleur de la barre de navigation quand menu selectionné*/
.active a {
	background-color: #ffe699 !important;
	color: #000000 !important;
}


/* couleur de fond des pages*/
body {
	background-color:  #f2f2f2;
}
/*Couleur de la barre de navigation */
.navbar {
	background-color: #ffffff;
		color: #FF0000;
}

/*Couleur de la police du menu de la barre de naivgation par défaut */
#menupro a {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	font-family: Arial;
}

/*Le footer */
.navbar-fixed-bottom {
	background: #FFFF00;
	color: #000000;
}

.navbar-fixed-bottom a {
	color: #0FFF000;
}

.panel-title{
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	
}
.btnwayd{

text-align:center;
vertical-align:middle;
background-color:#ffAD40;
border: 2px solid #ffe699 ;
color:white;
text-decoration:none

}
.btnwayd:hover{
color:white;	
background-color:#ffBD45
}
.text-tuto{
	font-weight: bold;
	color:black;
}

.margedebut{
	margin-top: 120px;
}

.barrerecherche{
	
	background-color: #ffbf00;
	border: 5px solid #fff;
	
}

.tablebordure{
	
	border: 5px solid #fff;	
}


.entetetable{
		background-color: #ffe699;
		 

	}
.jumbotronwayd{
	
	background-color:#ffffff;
	border: 5px solid #ffe699;
	
}

	